@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>
        <a class="btn btn-primary" asp-controller="Expenses" asp-action="Index">View Expenses</a>
    </p>
</div>
